/* Themes */

.light-theme {
    background-color: #f6f6f6;
    color: #000000;
}

.light-theme a{
    color: black;
}

.light-secondary-background{
    background-color:  #ffffff;
}

.dark-theme {
    background-color: #151515;
    color: #ffffff;
}

.dark-theme a{
    color: white;
}

.dark-secondary-background{
    background-color: #303030;
}